__pycache__/
Actions/__pycache__/
Communicator/__pycache__/
DesignPatterns/__pycache__/
Event/__pycache__/
Event/MouseEvent/__pycache__/
EventRecorder/__pycache__/
jsonfiles/
Listener/__pycache__/
Storage/__pycache__/